### **This notebook tests whether there is any signal**

In [2]:
import pandas as pd
import numpy as np
import warnings
import glob
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as pltc
from tqdm import tqdm
import sys
import os

import importlib

#### packages
import helper.strategy_helper as st
import helper.visualization as vz
import helper.helper as hp
import helper.file_helper as file_hp
import config.config as config

In [3]:
config = config.config()
path = config['PATHS']

derived_path = path['derived_path']
all_tweet_data = path['all_tweet_data']
plot_path = path['plot_path']

file_hp.create_folder(plot_path, 'reply_count')
reply_path = os.path.join(plot_path, 'reply_count')

In [5]:
year = '2020_12'
type_of = 'ops'
campaign = 'iran_202012'

In [6]:
data_path = st.get_data_path(all_tweet_data, year, 
                                     campaign)

data = st.read_ops_control_data(data_path['ops'],
                                data_path['control'], 
                             [type_of])
df_w = data[type_of]

In [7]:
df = st.reply_to_external_users(df_w)

In [15]:
df = df.astype({'in_reply_to_userid': int,
                'in_reply_to_tweetid': int
               })

In [16]:
df[['tweetid', 'userid', 'tweet_text', 'in_reply_to_userid',
    'in_reply_to_tweetid'
   ]] .head()

,tweetid,userid,tweet_text,in_reply_to_userid,in_reply_to_tweetid
79,1272844638005735425,827246726021005314,@kiando_ اوه دهنم سرویس تر شد که 😖😖,1143906346686963712,1272843640801505280
82,1247717737155215361,827246726021005314,@Adisia5 انتخابت درستِ ✊🏼✊🏼🤤,1223364749322342400,1247290722442776576
83,1213896951483097089,827246726021005314,@kermeabrisham2 ابجو میخورم میرم شمال,1138878994525413376,1213559912330121216
93,1236505668053590016,827246726021005314,@itspersephoneh 👏🏼👏🏼👌🏼,1157649340174876672,1236504670052515840
112,1339061299745964033,1170591537081671680,@_llemonade Hadeeh,1278111685744619520,1339009263507701760